/* 
HOME 
*/

section#banner{
	margin-bottom:40px;
}

section#home-vantagens{
	padding-bottom:60px;

	h1.titulo-linha{
		margin:0 auto;
		padding-bottom:25px;
	}


	div.sobre-desc{
		width: 60%;
		margin:0 auto;
	}

	p.sobre-p{
		width: 70%;
		margin:5px auto;
	}

	div.vantagens-imagens{
		min-height:150px;
	}

}

section#home-vantagens-detalhes{
	padding:60px 0;
	background-color:#0c72b0;
    color:white;

}

@media (max-width: 991px) {  

}

@media (min-width: 992px) {  
  
}
