/* 
HOME 
*/

section#banner{
	margin-bottom:60px;
}

section#home-vantagens{
	padding-bottom:60px;

	div.sobre-desc{
		width: 60%;
		margin:0 auto;
	}

	p.sobre-p{
		width: 70%;
		margin:5px auto;
	}

	div.vantagens-imagens{
		min-height:150px;

		img{
			cursor:pointer;
		}
	}

}

section#home-vantagens-detalhes{
	margin-bottom:60px;
	padding:60px 0;
	padding-bottom:80px;
	background-color:#0c72b0;
    color:white;

    h2{
    	color:white;
    }

}

section#planos{
	margin-bottom:60px;

	div.plano-op{
		header{
			padding:45px 20px;
			padding-bottom:25px;
			background-color:#f1f1f1;
			position:relative;
			width:100%;
			color:#002f58;

			div.titulo{
				position:absolute;
				left:0;
				right:0;
				top:-20px;

				h5{
					width:70%;
					margin:0 auto;
					background-color:#0061b2;
					color:white;
					padding:10px;	
					font-weight:bold;
					font-size:17px;			
				}
			}

			div.preco{
				color:#002f58;
				width:60%;
				margin:0 auto;

				div.pos{
					float:left;	
					margin-right:2.5px;		
					line-height:0.8em;	
				}

				div.cifrao{
					line-height:1.3em;
					font-weight:bold;
				}
				div.valor{
					
					font-weight:bold;
					font-size:46px;
				}
				div.decimal{
					font-weight:bold;
					font-size:26px;
				}
				div.periodo{
					line-height:1.3em;
				}
			}

			p{
				margin:15px 0;
			}

			a.btn-amarelo{
				width: 135px;
				display: block;
				margin:0px auto;
				margin-top: 10px;
			}

		}

		div.vantagens{
			background-color:#0061b2;
			color:white;
			padding-bottom:35px;

			img{
				margin:0 auto;
				margin-bottom:25px;
			}

			a.btn-azul-claro-q{
				width: 150px;
				display: block;
				margin:0 auto;
				margin-top: 25px;
			}
			a.btn-azul-claro-qb{
				width: 190px;
				display: block;
				margin:0 auto;
				margin-top: 25px;
			}

		}

	}
}

section#home-solucoesv{
	margin-bottom:80px;

}

section#home-solucoesf{
	margin-bottom:60px;
	padding:60px 0;
	padding-bottom:80px;
	background-color:#f1f1f1;

}

section#descricao-solucoes{
	text-align:left;
}

@media (max-width: 991px) {  
	section#home-vantagens{
		padding-bottom:0 !important;
	}

	section#home-solucoesv{
		.col-md-4{
			margin-bottom: 25px;
		}
	}
	section#home-solucoesf{
		.col-md-4{
			margin-bottom: 25px;
		}
	}
	section#planos{
		.col-md-4{
			margin-bottom: 50px;
		}
	}
	
	section#entre-contato{

		.btn-azul-q{
			margin:0 auto;
		}
	}

	section#home-vantagens-detalhes{
		img{
			margin:0 auto;
		}
		h2{
			margin-top: 25px !important;
		}
	}

}

@media (min-width: 992px) {  
  
}
