section#header{
	header{
		background-color:#0073b4;
		color:white;

        span{
            padding-top:2px;
            display:block;
            float:left;
            margin-right: 10px;
        }

        ul{
            padding-top:2px;
            padding-left:5px;
            float:left;
        }

        div.box{
            padding-top:8px;
            padding-bottom:8px;
        }

        ul.redes_sociais_header{
            height: 22px;
            text-align: left;
            list-style:none;
            margin-bottom:0;
        }

        ul.redes_sociais_header li:hover{
            opacity: 0.6;
            filter: alpha(opacity=60); /* For IE8 and earlier */
        }

        ul.redes_sociais_header li{
            margin-right: 5px;
        }

        ul.redes_sociais_header a{
            display: inline-block;
            width:22px;
            height:20px;
        }

        ul.redes_sociais_header .youtube{
            background-image: url("images/redes_header.jpg");

            background-position: left,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .instagram{
            background-image: url("images/redes_header.jpg");
            background-position: -34px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .twitter{
            background-image: url("images/redes_header.jpg");
            background-position: -66px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }

        ul.redes_sociais_header .facebook{
            background-image: url("images/redes_header.jpg");
            background-position: -98px,center;
            background-repeat:no-repeat;
            width:22px;
            height:20px;
            display:inline-block;       
        }
        .btn-login{
            background-color:#ffc709;
            padding:5px 10px;
            color:#003869;
            border:0;
            font-weight: bold;
            border-radius: 5px; 
            margin-left: 10px;
            font-size:12px;
        }

        .btn-login:hover{
            background-color:#ffdd6b;
        }

	}

	nav{
        padding:25px 0;
        position: absolute;
        right: 0;
        left: 0;
        z-index: 1030;
        
        div.fundo-azul{
            background-color:#0073b4;
            
            div.logo-container{
                background-color:white;  
                padding:15px 25px;
            }

            div.menu-container{
                padding:15px 25px;
                padding-right:35px;

                div.menu-header{
                    margin-top: 20px;

                    div.menu-op{
                        float:right;
                        margin-right: 10px;
                        padding-top:8px;
                        color:white;
                        
                        a{
                            color:white;
                            font-size: 15px;
                        }
                        a:hover{
                            color:#ffd100;
                        }
                    }
                    div.menu-seta{
                        float:right;
                        margin-right: 35px;
                        padding-top:8px;

                        span.glyphicon-triangle-bottom{
                            color: #00beed;
                        }                        
                    }

                    div.menu-tel{
                        float:right; 
                        color:white;
                        margin-right: 35px;
                    
                        img{
                            margin-right: 10px;
                            margin-top: 4px;
                            display: block;
                        }

                        strong{
                            font-size: 15px;
                        }
                    }

                }                
            }

        }
	}

    div.formulario-header{
        position: absolute;
        right: 0;
        left: 0;
        top:220px;
        z-index: 1030;
        
        header{
            background-color:#0073b4;
            padding:20px 10px;

            h2{
                margin:0;
                color:white;
                font-weight: normal;
                line-height: 28px;
            }
        }    

        div.form-conteudo{
            padding:10px;
            background-color:#007cc1;
            color:white;
            opacity: 0.9;
            filter: alpha(opacity=90); /* For IE8 and earlier */
        }    
    }
}

section#form-responsivo{
    margin-bottom: 50px;

    header{
        background-color:#0073b4;
        padding:20px 10px;

        h2{
            margin:0;
            color:white;
            font-weight: normal;
            line-height: 28px;
        }
    }   
    div.form-conteudo{
        padding:10px;
        background-color:#007cc1;
        color:white;
    }     
}

@media (max-width: 991px) {  

    div.formulario-header{
        display: none !important;
    }

    section#form-responsivo{
        display: block !important;
    }

    div.header-login-responsive{
        display: block !important;
    }

    div.header-login{
        display: none !important;
    }    

    div.menu-responsivo{
        width: 50px;
        text-align: left;
        display: block;
        padding: 10px;
    }

    div.menu-container{
        display: none !important;
    }

}

@media (max-width: 1220px) {  
    div.menu-op{       
        a{
            font-size: 14px !important;
        }
    }  

    div.menu-seta{
        margin-right: 20px !important;
    }

    div.menu-tel{
        margin-right: 20px !important;
        strong{
            font-size: 14px !important;
        }
    }
    div.menu-header{
        margin-top: 15px !important;
    }

    div.formulario-header{
        top:235px !important;
    }

}


@media (min-width: 992px) {  

    div.formulario-header{
        display: block !important;
    }

    section#form-responsivo{
        display: none !important;
    }

    div.header-login-responsive{
        display: none !important;
    }

    div.header-login{
        display: block !important;
    }  

    div.menu-responsivo{
        display: none;
    }
    ul.menu-header{
        display: block;
    }   
}
